@model BankingSystemMVC.Models.Transaction

@{
    ViewData["Title"] = "Details";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Детали за трансакција</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row ">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Податоци</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TransDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TransDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalBalance)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TotalBalance)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Receiver)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Receiver)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Account)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Account.AccountNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Employee)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Employee.FirstName)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Назад кон трансакции</a>
        </div>
    </div>
</section>
